<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>luigivis</id>
            <username>luigivis</username>
            <password>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</password>
        </server>
    </servers>

</settings>